.todo-input {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
