.slogan {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerButton {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
